.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;

}
.table thead {
    position: sticky;
}
.table thead tr {
    background-color: rgb(46, 161, 227);
    color: #ffffff;
    text-align: center;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-weight: bold;


}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(46, 161, 227);
}



.table tbody tr:hover {
    color: rgb(46, 161, 227);
}
.listzone{
    width: 70%;
    margin: auto;

}
.listzone select {
    width: 80%;
    margin: auto;
    height: 5vh;
    margin-bottom: 15px;
    background-color: #effbff;
    outline: none;
    border: 1px solid #00bbf0;
    border-radius: 5px;
    font-weight: 800;
    padding-left: 10px;
}
tr button {
    font-size: x-large;
    width: 30%;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #f31414;
    color: white;
    border: 2px solid #770404;
}
tr button:active{
    background-color: #770404;
}